/* You can add global styles to this file, and also import other style files */
html {
    background-color: #1E223A;
    padding: 60px;
    //     font-family: 'Belanosima', sans-serif;
    // font-family: 'Teko', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}