/* You can add global styles to this file, and also import other style files */
html {
    background-color: #1E223A;
    padding: 60px;
    font-family: 'Fira Sans Condensed', sans-serif;
    // font-family: 'Saira Extra Condensed', sans-serif;
    // font-family: 'Ubuntu Condensed', sans-serif;
    // font-family: 'Yanone Kaffeesatz', sans-serif;
}